<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tour.dao.PlaceDAO">
	<select id="selectPlaceList" resultType="kr.green.tour.vo.PlaceVO">
	 select * from place where main_id = #{cri.main_id} and name like concat('%', #{cri.search},'%')
	  order by place_id asc limit #{cri.pageStart}, #{cri.perPageNum}
	  
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(*) from place where main_id = #{cri.main_id} and name like concat('%', #{cri.search},'%')
	</select>
	
	<insert id="insertPlace">
		insert into place(main_id, address1, img, tel, lodgeId, name) 
		values (#{place.main_id}, #{place.address1}, #{place.img},#{place.tel}, #{place.lodgeId}, #{place.name} )
	</insert>
	
	<update id="updatePlace">
		update place set
		
		 area =#{place.area},
		 parking =#{place.parking},
		 checkIn =#{place.checkIn},
		 checkOut =#{place.checkOut},
		 overview =#{place.overview}
		 
		where lodgeId=#{place.lodgeId} 
	</update>
	
	<select id="selectPlaceVO">
	 select * from place where lodgeId=#{place.lodgeId}
	</select>



</mapper>