<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tour.dao.ReviewDAO">
	<insert id="registerReview">
	insert into review(title, review_member_id, contents, del,create_date)
			    values(#{review.title},#{review.review_member_id},#{review.contents},'N',now())
	</insert>
	
	<select id="selectReviewList" resultType="kr.green.tour.vo.ReviewVO">
		select * from review where title like concat('%', #{cri.search},'%') and del = 'N' order by  review_id desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTotal" resultType="int">
		select count(*) from review where title like concat('%', #{cri.search},'%')
	</select>

	<select id="getBoardNum" resultType="kr.green.tour.vo.ReviewVO">
		select * from review where review_id = #{review_id} and del = 'N'
	</select>
	
	<update id="deleteReview">
		update review set del = 'Y', del_date = now() where review_id = #{review_id}
 	</update>
 	
 	<update id="updateReview">
 		update review set title = #{review.title}, contents = #{review.contents}, modify_date = #{review.modify_date}
 		where review_id = #{review.review_id} 
 	</update>
 	
 	<update id="updateViews">
 		update review set views = views+1 where review_id = #{review_id}
 	</update>
</mapper>