<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.tour.dao.CourseDAO">

	<select id="selectCity" resultType="kr.green.tour.vo.CityVO">
		select * from city 
	</select>
	
	<select id="selectMapList" resultType="kr.green.tour.vo.PlaceVO">
		select * from place limit #{cri.perPageNum}
	</select>
	
	<select id="selectPlaceList" resultType="kr.green.tour.vo.PlaceVO">
	SELECT * FROM tour.place join city on area = city_name where 1 = 1
	<if test="main_id != -1">
		and main_id = #{main_id}
	</if>
	<if test="city_id != 0">
		and city_id = #{city_id}
	</if>
	</select>
	
	<insert id="insertCourse" useGeneratedKeys="true" keyProperty="co.course_id" parameterType="kr.green.tour.vo.CourseVO">
		insert into course(course_title, duration, `option`, recruit, course_writer_id)
			values(#{co.course_title},#{co.duration},#{co.option},#{co.recruit}, #{co.course_writer_id}) 
	</insert>
	
	<insert id="insertCourseDetail">
		insert into course_detail values(#{cd.course_detail_date},#{cd.cd_course_id},#{cd.name},#{cd.course_order},#{cd.cd_place_id})
	</insert>
	
	<select id="selectCourseList" resultType="kr.green.tour.vo.CourseVO">
		select * from course where course_writer_id = #{course.course_writer_id} and del = 'N' order by course_id desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTotal" resultType="int">
		select count(*) from course where del = 'N' 
	</select>
	
	<select id="getDetail" resultType="kr.green.tour.vo.CourseVO">
		select course.*, max(course_detail_date) as course_detail_count from course join course_detail on course_id = cd_course_id 
		where course_id= #{course.course_id} group by course_id;
	</select>
	
	<select id="getDetailInfo" resultType="kr.green.tour.vo.CourseDetailVO">
		select * from course_detail join place on place_id = cd_place_id where cd_course_id = #{cd.cd_course_id} 
		and course_detail_date = #{cd.course_detail_date};
	</select>
	
</mapper>